@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 30% 4%;
    --foreground: 30 25% 95%;
    --card: 20 30% 7%;
    --card-foreground: 30 25% 95%;
    --popover: 20 30% 10%;
    --popover-foreground: 30 25% 95%;
    --primary: 30 25% 95%;
    --primary-foreground: 20 30% 10%;
    --secondary: 20 25% 13%;
    --secondary-foreground: 30 25% 95%;
    --accent: 25 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 30 25% 98%;
    --muted: 20 20% 16%;
    --muted-foreground: 25 15% 58%;
    --border: 20 20% 16%;
    --input: 20 20% 21%;
    --ring: 25 95% 53%;
    --radius: 1rem;
    --chart-1: 25 95% 53%;
    --chart-2: 15 85% 50%;
    --chart-3: 35 90% 55%;
    --chart-4: 45 85% 50%;
    --chart-5: 5 80% 55%;
    --sidebar-background: 20 30% 5%;
    --sidebar-foreground: 30 25% 95%;
    --sidebar-border: 20 20% 13%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 20 20% 13%;
    --sidebar-accent-foreground: 30 25% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
